@charset "UTF-8";

* {
	font-family: 'Montserrat', sans-serif;
}

.headerblock {
	display: block;
	height: 50px;
}

.footerblock {
	display: block;
	height: 50px;
}

.titlenavbar {
	font-weight: bold;
	font-size: x-large;
}

.navbarsearch {
	font-size: small;
}

.mdpforget {
	font-size: small;
}

.navbarbackground {
	background-color: rgb(240, 240, 240);
}

.containerarticles {
	display: inline-block;
}

body{
    min-height: 100;
    display: flex;
    flex-direction: column;
}
footer{
    bottom: 0;
    position: fixed;
}

@media (min-width: 992px){
.row-cols-lg-5>*{width:100%;
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-left: 20px;
margin-right: 20px;
}
.card{
border-radius: 20px;
}
}