@charset "UTF-8";

html{
	overflow-x: hidden;;
}

* {
	font-family: 'Montserrat', sans-serif;
}

footer{
  bottom: 0;
  width: 110%;
}

.headerblock {
	display: block;
	height: 50px;
}

.footerblock {
	display: block;
	height: 50px;
}

.titlenavbar {
	font-weight: bold;
	font-size: x-large;
}

.navbarsearch {
	font-size: small;
	width: 200px;
}

.mdpforget {
	font-size: small;
}

.navbarbackground {
	background-color: rgb(240, 240, 240);
}

.connexion{
	margin-top: 145px;
	margin-bottom: 146px;
}

.creation-profil{
	margin-top: 100px;
	margin-bottom: 6px;
}

.mdp-oublie{
	margin-top: 230px;
}

.mdp-reset{
	margin-top: 145px;
}

.modifierprofil{
	margin-top: 100px;
}

.creation-vente{
	margin-top: 100px;
}

.profilmodifier{
	margin-left: 220px;
}

.containerarticles {
	display: inline-block;
}

body{
    display: flex;
    flex-direction: column;
}

.navbar-expand-lg .navbar-collapse{
	display: flex;
}

.spaceheader{
	margin-left: 1170px;
}

@media (min-width: 992px){
.row-cols-lg-5>*{width:100%;
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-left: 20px;
margin-right: 20px;
}
.card{
border-radius: 20px;
}
}